
.growing-community {
    text-align: center;
    margin-top: 150px;
  
    h1 {
      font-size: 36px;
      font-weight: bold;
      margin-top: 140px;
      max-width: 400px;
      margin: 0 auto;
      color: #760289;
    }
  
    img {
      height: 200px;
      margin: 0 auto;
      margin-top: 60px;
    }
  
    p {
      max-width: 600px;
      margin: 0 auto;
      margin-top: 40px;
    }
  
    .btn {
      margin: 0 auto;
      background: #760289;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      margin-top: 40px;
  
      img {
        height: 24px;
        margin-top: 0;
        margin-left: 0;
      }
    }
  }
  
  