@font-face {
  font-family: Campton;
  src: url("./assets/fonts/campton-cufonfonts/CamptonBook.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Campton;
  src: url("./assets/fonts/campton-cufonfonts/CamptonBookItalic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Campton;
  src: url("./assets/fonts/campton-cufonfonts/CamptonBold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Campton;
  src: url("./assets/fonts/campton-cufonfonts/CamptonBoldItalic.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.app {
  width: 100%;
  height: 90%;
  background-color: #fff;
  font-family: Campton;
}
